<div class="container text-center py-5">
    <h2>CHOOSE YOUR JELLY FLAVOR:</h2>
    <div class="container" style="max-width: 500px;">
        <div class="row mt-3">
            <div class="col"><button class="btn btn-grape">Grape</button></div>
            <div class="col"><button class="btn btn-blueberry">Blueberry</button></div>
            <div class="col"><button class="btn btn-sky">Sky</button></div>
        </div>
        <div class="row mt-3">
            <div class="col"><button class="btn btn-kiwi">Kiwi</button></div>
            <div class="col"><button class="btn btn-ananas">Ananas</button></div>
            <div class="col"><button class="btn btn-orange">Orange</button></div>
        </div>
        <div class="row mt-3">
            <div class="col"><button class="btn btn-cherry">Cherry</button></div>
            <div class="col"><button class="btn btn-strawberry">Strawberry</button></div>
            <div class="col"><button class="btn btn-peach">Peach</button></div></div>
        </div>
</div>
