.jelly-flavours {
    margin: auto;
    max-width: 600px;
    text-align: center;
}

.btn-grape {
    background-color: #8a2be2;
    color: white;
    width: 100%;
}

.btn-blueberry {
    background-color: #103486;
    color: white;
    width: 100%;
}

.btn-sky {
    background-color: #8cddfe;
    width: 100%;
}

.btn-kiwi {
    background-color: #769b47;
    color: white;
    width: 100%;
}

.btn-ananas {
    background-color: #fff45e;
    width: 100%;
}

.btn-orange {
    background-color: #ff8700;
    width: 100%;
}

.btn-cherry {
    background-color: #a50703;
    color: white;
    width: 100%;
}

.btn-strawberry {
    background-color: #ff5ec5;
    width: 100%;
}

.btn-peach {
    background-color: #ffc1cc;
    width: 100%;
}