<div class="jelly-top-menu">
  <nav>MENU
    <ul>
      <li>Link 1</li>
      <li>Link 1</li>
      <li>LOGO</li>
      <li>Link 3</li>
      <li>Link 4</li>
    </ul>
  </nav>
</div>
<div class="jelly-main">
  <div class="jelly-side-menu">
    <nav>
      <p>This is where the filters are.</p>
      <ul>
        <li>Filter 1</li>
        <li>Filter 2</li>
        <li>Filter 3</li>
        <li>Filter 4</li>
        <li>Filter 5</li>
      </ul>
    </nav>
  </div>
  <div class="jelly-content">
    MAIN THINGS HERE. This is where the results will load.
  </div> 
</div>
<div class="jelly-footer">
  footer here 2024
</div>
<router-outlet></router-outlet>
