<div style="background-color: pink; width: 100%; padding: 1em;">ABOUUUUUTTT</div>
<p>This is a page to talk about the project.</p>
<p>As a fellow Melissa shoe collector, I wanted other jelly shoe lovers to be able to track down their sought after shoes and know more about them. This is a passion project, and luckily, with enough time, other people will help me fill in this gallery with gorgeous shoes!</p>
<p>My initial goal was to document just Melissa shoes, but soon I realized that other jelly shoe brands (like Petit Jolie, that's from Brazil as well, and Lemon Jelly, from Portugal) have also a great potential to be collected and documented.</p>
<p>Feel free to browse this site and send your feedback! Currently, the best way to do it is through my email: heidi (underscore) michel (at) hotmail (dot) com.</p> 
