/*Color themes*/
:root {
  --color-main: #8a2be2;
  --color-dark: #521987;
  --color-light: #d0aaf3;
  .logo-lighter {
    fill: var(--color-main);//var(--color-light); /*TODO: decide between color and highlight*/
  }
  .logo-darker {
    fill: var(--color-dark);//var(--color-main);
  }
}

.grape {
  --color-main: #8a2be2;
  --color-dark: #521987;
  --color-light: #d0aaf3;
}

.blueberry {
  --color-main: #103486;
  --color-dark: #081a43;
  --color-light: #9fadce;
}

.sky {
  --color-main: #8cddfe;
  --color-dark: #466e7f;
  --color-light: #e8f8fe;
}

.kiwi {
  --color-main: #769b47;
  --color-dark: #3b4d23;
  --color-light: #d5e1c7;
}

.ananas {
  --color-main: #fff45e;
  --color-dark: #b2aa41;
  --color-light: #fffbce;
}

.orange {
  --color-main: #ff8700;
  --color-dark: #b25e00;
  --color-light: #ffcf99;
}

.cherry {
  --color-main: #a50703;
  --color-dark: #730402;
  --color-light: #db9b9a;
}

.strawberry {
  --color-main: #ff5ec5;
  --color-dark: #b24189;
  --color-light: #ffbee7;
}

.peach { 
  --color-main: #ffc1cc;
  --color-dark: #cc9aa3;
  --color-light: #ffe6ea;
}

/*actual styles*/

.icon-base {
  opacity:0.8;
  fill:#4F4F4F;
}

.jelly-top-menu {
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  text-align: center;
  a {
    color: var(--color-main);
    text-decoration: none;
    &:hover {
      color: var(--color-dark);
    }
  }
}

jelly-search {
  display: flex;
  width: 100vw;
}

.jelly-sidebar {
  background-color: var(--color-light);
  color: var(--color-dark);
  width: 290px;
  height: 100%;
  padding: 1em;
  height: calc(100vh - 100px);  /*rough calculation for menu and footer. It would be better to have a flexible approach, though!*/
  select,
  input,
  button {
    width: 100%;
    border: 1px solid var(--color-dark);
    padding: 5px;
  }
}

.jelly-content { //check if this is the correct name, or if it should be used in other places as well
  flex-grow: 1;
  height: 100%;
  margin-left: 1em;
}