@import "bootstrap/dist/css/bootstrap.css";
//add other imports here

/*Color Variants*/
$grape: #8a2be2; //maybe #bf94e4?
$blueberry: #103486;
$sky: #8cddfe;
$kiwi: #769b47;
$ananas: #fff45e;
$orange: #ff8700;
$cherry: #a50703;
$strawberry: #ff5ec5;
$peach: #ffc1cc;

.icon-base {
  opacity:0.8;
  fill:#4F4F4F;
}

.jelly-top-menu {
  //temporary styles while bootstrap is not fully working
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  text-align: center;
}
jelly-search {
  display: flex;
  width: 100vw;
  .jelly-side-menu {
    background-color: plum;
    width: 300px;
    height: 100%;
  }
  .jelly-content {
      width: 100%;
      height: 100%;
      background-color: greenyellow;
  }
}
.jelly-search-results {
  background-color: green;
}
.jelly-search-result {
  background-color: yellow;
  width: 200px;
  height: 200px;
}
jelly-flavours {
  margin: auto;
  max-width: 600px;
  text-align: center;
  //add hover+focus states, and extend bootstrap classes
  .btn-grape {
    background-color: $grape;
    color: white;
    width: 100%;
  }
  .btn-blueberry {
    background-color: $blueberry;
    color: white;
    width: 100%;
  }
  .btn-sky {
    background-color: $sky;
    width: 100%;
  }
  .btn-kiwi {
    background-color: $kiwi;
    color: white;
    width: 100%;
  }
  .btn-ananas {
    background-color: $ananas;
    width: 100%;
  }
  .btn-orange {
    background-color: $orange;
    width: 100%;
  }
  .btn-cherry {
    background-color: $cherry;
    color: white;
    width: 100%;
  }
  .btn-strawberry {
    background-color: $strawberry;
    width: 100%;
  }
  .btn-peach {
    background-color: $peach;
    width: 100%;
  }
}
.jelly-footer {
  background-color: #ccc;
  width: 100%;
  padding: 1em;
  text-align: center;
}
.uni { /*utility class to quickly add a bg to an item*/
  background-color: pink;
}
