<div class="container text-center py-5">
    <!--COOL IMAGE HERE-->
    <img src="https://picsum.photos/600/400">
    <p class="my-3">Choose a category to start, or click "search"</p>
        <!--This is a splash page. After a 1 line text, add shortcuts to search (pre filtered search, like a specific shoe style.-->
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#">
                    <div class="shadow">
                        <img src="../../assets/icons/boot.svg" width="200">
                        <p>Boots</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="shadow">
                        <img src="../../assets/icons/flat.svg" width="200">
                        <p>Flats</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="shadow">
                        <img src="../../assets/icons/sandal.svg" width="200">
                        <p>Sandals</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="shadow">
                        <img src="../../assets/icons/pump.svg" width="200">
                        <p>Pumps</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="shadow">
                        <img src="../../assets/icons/bag.svg" width="200">
                        <p>Bags</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
